
.no-padding{
    padding: 0;
}
/* ===============================================
==================  PANELS  ==================*/
.alt.todo-actionlist {
    position: relative;
    right: 0;
    top: 0;
}
.alt.to-do-list li {
    min-height: 62px;
}
.alt.btn-primary{
    width: 199px;
}
.alt.alert-warning {
    background-color: #F0F0E8;
    color: #8A8A76;
    font-size: 13px;
}
.alt-data-alteracao{
    font-weight: lighter;
    font-style: italic;
    color: #ACABAB;
    background-color: #FFFFFF;
    padding: 9px 0;
    position: relative;
}
.alt-data-to-do-list img{
    margin: 5px 0;
}
.alt-data-to-do-list .btn{
    background-color: transparent;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
}
.alt-data-to-do-list .input-append input[type=text]{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 33px 0 0;
    color: #1FB5AD;
}
.alt-data-to-do-list span {
    margin-left: -8px;
    color: #1FB5AD;
    float: left;
    margin-left: 18px;
    margin-top: auto;
}
.alt-span{
    margin-top: 25px;
}
.alt-input{
    background-color: #F4F4F6;
    color: #8A8A76;
}
.to-do-list p{
    margin: auto;
}
.todo-title{
    color: #8A8A76;
}
.disabled-item{
    color: #BBBBBB;
    text-decoration: line-through;
}
.to-do-list .alert-danger{
    background-color: #F9E5E5;
}
.text-danger{
    color: #B20000;
}
.drag-marker{
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -9px;
    height: 18px;
}
.alt.todo-check {
    width: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.alt.todo-title {
    position: relative;
    margin: 0 72px 0 41px;
}
/* ===============================================
==================  PAGINATION  ==================*/
.pagination li a{
    background-color: #FFFFFF;
    color: #797979;
    border-color: #DDDDDD;
    border-radius: 3px;
}
.pagination li.active a,
.pagination li.active:hover a,
.pagination li a:hover{
    background-color: #EEEEEE;
    color: #797979;
    border-color: #DDDDDD;
}
/* ===============================================
==================  NAVIGATION  ==================*/
.logo{
    font-weight: lighter;
    color: #FFFFFF!important;
    text-transform: capitalize!important;
}
.nav-collapse ul li a b{
    color: #E0B6B7;
    font-weight: normal;
}
.brand {
    background: #95A728;
}
.sidebar-toggle-box {
    background: #95A728;
}
.sidebar-toggle-box:hover {
    background: #717E1F;
    color: #616B1F;
}
/* =================================================
==================  PLACEHOLDERS  ==================*/
.alt-input::-webkit-input-placeholder{color: #DADADB;}
.alt-input:-moz-placeholder{color: #DADADB;}
.alt-input::-moz-placeholder{color: #DADADB;}
.alt-input:-ms-input-placeholder {color: #DADADB;}

/* ==================================================
==================  VERTICAL LINE  ==================*/
.line {
    content: '';
    width: 1px;
    height: 320%;
    position: absolute;
    background-color: #DDDDDD;
    left: 50%;
    top: 50px;
}
/* ==================================================
==================  MEDIA QUERIES  ==================*/
@media (max-width: 1200px){
    .to-do-list .alt {
        min-height: 35px;
    }
}
@media all and (min-width: 1200px) and (max-width:1370px){
    .alt.col-xs-3.col-sm-3.col-md-3.col-lg-2{
        width: 20%;
    }
    .alt.col-xs-9.col-sm-9.col-md-9.col-lg-10{
        width: 80%;
    }
}

@media (max-width: 768px){
    .line {
        height: 400%;
    }
}

@media(max-width: 620px){
    .main-content-bottom{
        text-align: center;;
    }
    .main-content-bottom .alt-span.pull-left,
    .main-content-bottom .pagination.pull-right{
        float: none!important;
    }
}
