<?php if (isset($client) && !empty($client)) { ?>

    <input type="hidden" value="<?php echo $this->Html->Url('/fatorcms/'); ?>" id="base" />

    <div id="container-adwords-log"></div>
    <input type="hidden"
           value="<?php echo $client['Cliente']['id']; ?>"
           id="client-id" />

    <input type="hidden"
           value="<?php echo AuthComponent::user('id') ?>"
           id="user-id"
    />
    <?php echo $this->Html->script('fatorcms/dashboard/sw4us.min.js'); ?>
<?php } ?>
